<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> 
  </head>
<body>
  <h4>Dear Admin, </h4>
  <p>A new Resource for Scope was suggested by a user: </p>
  <p><strong>Resource Name</strong> <%= @message.name %></p>
  <p><strong>Website</strong> <%= @message.website %></p>
  <p><strong>Description</strong> <%= @message.description %></p>
  <p><strong>Suggested Tags</strong> <%= @message.tags %></p>
</body>
</html>