<%= render 'layouts/nav' %>

<div class ="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="section-heading">About LearningHub</h1>
      <p>Post-ironic street art gastropub, four dollar toast you probably haven't heard of them chia vinyl beard actually vegan. Fashion axe Shoreditch trust fund 3 wolf moon typewriter sustainable. Fashion axe letterpress butcher Truffaut leggings organic. Narwhal photo booth 8-bit fanny pack synth pop-up meggings paleo, Etsy migas yr Pinterest roof party. Irony readymade gentrify jean shorts paleo, blog retro iPhone fashion axe tilde farm-to-table quinoa Wes Anderson taxidermy. 
      </p> 
      <p>Gentrify pork belly blog, jean shorts synth dreamcatcher Pinterest drinking vinegar Intelligentsia organic. Pop-up roof party cardigan, 90's flannel keytar listicle crucifix YOLO freegan drinking vinegar.</p>
      <p>Created by <a href="http://www.zoefoss.com" target="_blank">Zo&euml; Foss</a> &copy; 2015</p>      
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 well">
      <h3>Suggest A Resource <br><small>Our goal is to make LearningHub the most up-to-date collection of learning tools. Please tell us if you think there is something we missed!</small></h3>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="name of resource or web site">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="web site address (ie. http://www.kahnacademy.org">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="description or reason it should be included">
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>
</div>
